fastapi 
uvicorn
requests # for handling linode aka akamai

# database
sqlalchemy

# mongoDB
pymongo

# dotenv
python-dotenv

# jwt
python-jose[all]

# email validation
validate_email_address

# encryption
cryptography

# jwt 
python-jose