# the back bone
fastapi 

# for reloading and serving the fast api app
uvicorn

# for handling linode aka akamai 
# TODO: may delete
requests 

# database
sqlalchemy

# mongoDB
pymongo

# dotenv
python-dotenv

# jwt
python-jose[all]

# email validation
validate_email_address

# encryption
cryptography

# jwt 
python-jose

# chatgpt
openai

# for making a cli 
click

# for auto deploying
gitpython